@charset "UTF-8";

* {
    font-family: Poppins, sans-serif;
    color: #f1eed4;
}

body {
     background-image: linear-gradient(to right,#e48686, #F3B562);

}

main{
    background-color: #8cbeb2;
    border-radius: 15px ;
    padding: 10px;
    margin: auto;
    width: 600px;
    box-shadow: #5c857ba2 5px 4px 3px;
}

.nota {
    background-color:#55464b;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    width: 400px;
    box-shadow: #1d171996 4px 4px 2px;
}